@using MyMobile.DAL.Models.Identity
@model List<AppUser>

@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>
@if(Model.Any())
{
    <table>
    @foreach(var user in Model)
    {
        <tr>
            <td>
                @user.Id
            </td>
            <td>
                @user.UserName
            </td>
        </tr>
    }
    </table>
}
else
{
    <div>No users created yet</div>
    <div>
        <a asp-action="Register" asp-controller="Account">Add new User</a>
    </div>
}