body{
    margin: 0%;
    font-family: 'Metal Mania', cursive;
    background-color: #000000
}

.top-nav{
    height: 50px;
    background-color: #000000;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.top-nav a{
    text-decoration: none;
    color: red;
    margin-top: 7px;
    margin-right: 30px;
}

.main-container{
    background-color: #000000;
    color: red;
    width: 93%;
    margin: auto;
    overflow: hidden;
}

.left-top-container{
    width: 60%;
    overflow: hidden;
    float: left;
}

.left-top-img{
    width: 400px;
    float: left;
}

.left-top-text{
    padding-left: 10px;
    font-size: 21px;
    overflow: auto;
    
}

.left-top-text h3{
    margin-top: 0%;
}

.left-top-end-img{
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

.right-top-container{
    width: 38%;
    margin-top: 30px;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}

.right-side-img{
    height: 150px;
    width: 150px;
    float: left;
}

.right-side-text{
    width: 180px;
    height: 150px;
    float: left;
    margin-top: 0;
    margin-left: 10px;
    font-size: 15px;
}

.left-side-container{
    border: 2px solid yellow;
    width: 60%;
    overflow: hidden;
}