.msg{
    margin-left: 300px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.sidebar {
    top: 0;
    left: 0;
    width: 300px;
    background-color: rgb(18, 127, 216);
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a:hover:not(.active) {
    background-color: rgb(146, 146, 146);
  }

.colored-numbers{
    text-align: center;
    margin-top:  240px;
    margin-left: 320px;
    font-size: 50px;
}

.diff-paragraphs{
    text-align: center;
    font-size: 20px;
    width: 900px;
    margin-left: 320px;
    display: flex;
}

.text-1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-2{
    color: darkblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 200px;
}

.text-3{
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 400px;
}

.powers{
    margin-left: 320px;
    margin-top: 40px;
    text-align: center;
    font-size: 23px;
}

.diff-paragraph{
    width: 900px;
    margin-left: 320px;
    text-align: center;
    font-size: 35px;
}

#text1{
    color: red;
    text-decoration: underline;
}

#text2{
    color: royalblue;
    font-weight: bold;
}

#text3{
    color: black;
    font-style: italic;
}

#text4{
    color: darkgreen;
}

#text5{
    color: violet;

}