<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyMobile</title>
    <link rel="stylesheet" href="~/css/layout-style.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/create-form-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <div style="width: 990px;">
        <header>
            <nav class="navbar">
                <div class="navbar-container">
                    <div class="main-logo">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">my<span>.</span>mobile</a>
                    </div>
                    @*/todo: add links and buttons login; new registration; update ad; add ad*@
                    <div class="navbar-menu">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        <a class="nav-link" asp-area="" asp-controller="CarAds" asp-action="Create">Публикуване</a>
                        <a href="">Търсене</a>
                        <a href="">Новини</a>
                        <a href="">Rent-a-car</a>
                        <a href="">Средни цени</a>
                        <a href="">Дилъри</a>
                        <a style="margin-left: 38.3px" href="">Моите обяви</a>
                    </div>
                    <div class="bottom-line"></div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - MyMobile - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
