html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/*HEADER*/
.header {
    height: 75px;
    width: 100%;
    background-color: #157543;
}

.h-left {
    width: 50%;
    height: 100%;
    float: left;
}

.h-left .logo {
    width: 100%;
    height: 100%;
    padding: 21px 20px;
    color: white;
    box-sizing: border-box;
}

.h-right {
    float: right;
    width: 50%;
    height: 100%;
    text-align: right;
}

.h-right button {
    border: none;
    background: none;
    margin-top: 17px;
    font-size: 35px;
    color: white;
    margin-right: 15px;
}

/*MENU*/
.nav {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 75px;
    display: none;
}

.nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    background-color: #157543;
}

.nav a i {
    float: right;
}

/*MENU END*/
/*HEADER END*/

/*WELCOME*/
.welcome-container {
    background: url('img/header.jpg');
    min-height: 500px;
    color: white;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 70px;
}

.welcome-inner {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 290px;
    border-radius: 40px;
    padding-top: 80px;
}

.welcome-msg h1 {
    font-size: 50px;
}

.welcome-msg h4 {
    margin: 7px 0px;
    font-style: italic;
}

.welcome-msg button {
    margin-top: 30px;
    padding: 10px 5px;
    width: 100px;
    height: 35px;
    background-color: #157543;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    color: white;
}

/*WELCOME END*/

/*PHRASES*/
.phrases-container {
    background-color: white;
    text-align: center;
    padding: 60px;
}

.phrases-container h3 {
    margin-bottom: 7px;
    color: #157543;
    text-shadow: 0.5px 0.5px black;
}

.phrases-container p {
    font-size: 12px;
    color: gray;
    margin-top: 0;
}

.phrases-container button {
    margin-top: 30px;
    padding: 10px 5px;
    width: 100px;
    height: 35px;
    background-color: #157543;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    color: white;
}

.phrases-container button:hover {
    opacity: 0.7;
}

/*PHRASES END*/

/*MENU*/
.menu-container {
    background-color: #157543;
    text-align: center;
    color: white;
    min-height: 615px;
}

/*MENU HEADING*/
.heading-container {
    padding-top: 60px;
}

.heading p {
    font-size: 10px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0.5px 0.5px black;
}

.heading h2 {
    margin-top: 0;
    text-shadow: 0.5px 0.5px black;
    font-size: 27px;
    width: 60%;
    margin-left: 20%;
}

/*MENU HEADING END*/

.item-inner {
    margin-top: 23px;
}

.item {
    width: 50%;
    height: 20%;
    margin-left: 25%;
}

.item:hover {
    opacity: 0.7;
}

.item a {
    text-decoration: none;
    color: white;
}

.item i {
    font-size: 50px;
}

.item p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
}

/*MENU END*/

/*PARTICIPATE*/
.participate-container {
    background: url('img/beach.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.participate-inner {
    padding-top: 200px;
}

.participate-inner h2 {
    margin: 0;
    color: white;
    text-shadow: 0.6px 0.7px black;
    font-weight: bold;
    font-size: 50px;
}

.participate-inner button {
    margin-top: 30px;
    padding: 10px 5px;
    width: 100px;
    height: 55px;
    background-color: #157543;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    color: white;
}

/*PARTICIPATE END*/

/*LAST ACTIVITY*/
.last-activity-container h2 {
    color: #157543;
    text-shadow: 0.5px 0.5px black;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}

.img-container {
    padding-left: 9%;
    color: white;
}

.img-1 {
    background: url('img/1.jpg');
    width: 90%;
    height: 280px;
    background-size: cover;
    background-position: center center;
    margin: 20px 0px;
}

.img-2 {
    background: url('img/2.jpg');
    width: 90%;
    height: 280px;
    background-size: cover;
    background-position: center center;
    margin: 20px 0px;
}

.img-3 {
    background: url('img/3.jpg');
    width: 90%;
    height: 280px;
    background-size: cover;
    background-position: center center;
    margin: 20px 0px;
}

.img-4 {
    background: url('img/4.jpg');
    width: 90%;
    height: 280px;
    background-size: cover;
    background-position: center center;
    margin: 20px 0px;
}

.img-text {
    padding: 210px 0 20px 40px;
}

.img-text h6 {
    margin: 0;
    text-shadow: 0.5px 0.5px black;
}

.img-text p {
    opacity: 0.9;
}

/*LAST ACTIVITY END*/

/*HELP*/
.help-container {
    color: white;
    background-color: #157543;
    text-align: center;
    height: 200px;
    margin-top: 70px;
}

.help-inner {
    padding-top: 50px;
}

.help-inner h3 {
    margin-bottom: 5px;
}

.help-button-1 {
    color: black;
    margin-top: 15px;
    padding: 9px 5px;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
}

.help-button-2 {
    color: black;
    margin-top: 15px;
    margin-left: 17px;
    padding: 9px 5px;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
}

.help-button-1:hover,
.help-button-2:hover {
    opacity: 0.7;
}

/*HELP END*/
/*FOOTER*/
.footer-container {
    height: 200px;
    text-align: center;
}

.social-icons {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 80px;
}

.social-item {
    text-align: center;
    padding-top: 10px;
    background-color: #157543;
    color: white;
    height: 40px;
    width: 50px;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.social-item a {
    text-decoration: none;
    color: white;
}

.social-item a:hover {
    opacity: 0.7;
}

.social-item i {
    font-size: 30px;
}

.copyright {
    font-size: 8px;
    opacity: 0.7;
    margin-top: 25px;
}

/*FOOTER END*/