.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 1rem;
}

.box {
    font-size: 5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.box1{
    grid-column: 1/3;
    grid-row: 1/3
}

.box2, .box9{
    grid-column: 3/5;
}

.box3, .box4{
    grid-row: 2/4;
}

.box3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    text-align: center;
    gap: 0.5rem;
}

.box3 div{
    font-size: 4rem;
}

.box5{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box5 div{
    width: 100%;
    text-align: center;
    font-size: 4rem;
}
/*images*/
.box{
    background-size: cover !important;
    background-position: center center !important;
}

.box1{
    background: url('/Task1/images/1.jpg');
}
.box2{
    background: url('/Task1/images/2.jpg');
}
.box3{
    background: url('/Task1/images/3.jpg');
}
.box3 div{
    background: rgba(255,255,255,0.5);
}
.box4{
    background: url('/Task1/images/4.jpg');
}
.box5{
    background: url('/Task1/images/5.jpg');
}
.box5 div{
    background: rgba(0,0,0,0.2);
}
.box6{
    background: url('/Task1/images/6.jpg');
}
.box7{
    background: url('/Task1/images/7.jpg');
}
.box8{
    background: url('/Task1/images/8.jpg');
}
.box9{
    background: url('/Task1/images/9.jpg');
}