.navbar-container {
    margin: auto;
    width: 100%;
    height: 100px;
}
/*try to add the left side blue line to logo*/
.main-logo {
    border: 3px solid black;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    font-size: 29px;
    font-weight: bolder;
    float: left;
}

.logo-login-container {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.slash {
    text-decoration: none;
    color: #09f;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-links-container{
    padding:11px;
}

.login-links-left {
}

.login{
    text-decoration: none;
    font-weight: bold;
    color: #09f;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register {
    text-decoration: none;
    color: #09f;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.navbar-brand {
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand span {
    color: #0099FF;
}

.navbar-container{
    margin-top:40px; /*fix the space between nav bar and the content and all those broken shit styles*/
}

.navbar-menu {
    margin-top: 25px;
}

.bottom-line {
    background-color: #328fc5;
    height: 6px;
    width: 99.85%
}

.nav-link {
    width: 85px;
    height: 34px;
    font-size: 16px;
    margin: 0px 1px 0px 0px;
    padding: 4px 11px 0px;
    border-radius: 7px 7px 0px 0px;
    color: white;
    background-color: #605D5D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.myads {
    margin-left: 37.8px;
}

.nav-link:hover {
    background-color: #328fc5;
    padding-bottom: 6px;
}

.active {
    background-color: #328fc5;
    padding-bottom: 6px;
}
