html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 1px;
}

li{
    margin: 0px;
    padding: 0px 0px 0px 1px;
}
/*
table {
    width: 940px;
    font-size 13px;
}

th {
    color: #09f;
}

td, th{
    padding: 0px 5px;
}

.create-form{
    width: 990px;
    padding 5px;
}
*/
.mid-table-container{
    overflow:hidden;
}

.mid-table-1{
    width: 33%;
    float: left;
    justify-content: space-evenly;
}
/*
.mid-table-1 select, input {
    width: 145px;
}
*/
.mid-table-2{
    width: 33%;
    float: left;
}

.mid-table-3{
    width: 33%;
    float: left;
}

.form-container{
    border: 1px solid #0099FF;
    border-top: 2px solid #0099FF;
    padding: 20px;
}

select{
    width: 189px;
    height: 30px;
    border: 1px solid;
    font-size: 12px;
}